experiment/gem5/
experiment/build-*
experiment/scripts/
experiment/TR-*
experiment/full*
experiment/*input/
experiment/*output/
experiment/mcpat/
experiment/cache/
experiment/HeatMap/
experiment/HotSpot-master
experiment/utils
experiment/xml
phase2/

