experiment/gem5/
experiment/build-*
experiment/TR-*
experiment/full*
experiment/*input/
experiment/*output/
experiment/mcpat/
experiment/HeatMap/
experiment/HotSpot-master
experiment/utils
experiment/default.desktop
experiment/guide_software
experiment/lib/
experiment/linuxdeploy*
experiment/plugins/
experiment/qt.conf
experiment/translations/
experiment/AppRun
experiment/doc/
experiment/config/config.json
experiment/config/state.txt
experiment/config/geometry.txt
phase2/


